*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
html {
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}
@-ms-viewport {
  width: device-width;
}
article,
aside,
dilog,
figcaption,
figure,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bold;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #0056b3;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 5vh;
  z-index: 999;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.navigation-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  position: relative;
  width: 50%;
  top: 5px;
  left: 0;
  margin: 0 10px;
  width: fit-content;
}
.logo a {
  font-size: 1.2rem;
  color: black;
}
.hamburger-container {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 20px;
  width: 20px;
  border: 1px black solid;
  border-radius: 5px;
  margin: 1%;
  justify-content: end;
}
.hamburger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 2px;
  justify-content: center;
  cursor: pointer;
}
.hamburger-menu span {
  margin: 2px 0;
  color: black;
  width: 100%;
  height: 1px;
  border: red solid 1px;
}
.hamburger-menu span:nth-child(1).active {
  border: red solid 1px;
  transform: rotate(45deg) translate(4px, 4px);
}
.hamburger-menu span:nth-child(3).active {
  border: red solid 1px;
  transform: rotate(-45deg);
}
.hamburger-menu span:nth-child(even).active {
  display: none;
}
.home {
  position: relative;
  overflow: hidden scroll;
  background: url(../img/IMG_20180124_163352.jpg);
  background-attachment: fixed;
  overflow: hidden scroll;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.container {
  padding: 10%;
  justify-content: center;
  text-align: center;
}
.card {
  width: 100%;
}
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  margin: 0;
  padding: 0 19px;
  flex-wrap: wrap;
}
.topText {
  position: absolute;
  bottom: 25%;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300 !important;
}
.leftText {
  position: absolute;
  top: 60%;
  left: 0;
  transform: translate(0, -60%);
  text-align: center;
  width: 50%;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
.rightText {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translate(0, -60%);
  text-align: center;
  vertical-align: middle;
  width: 50%;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
.topText,
.rightText h2,
.leftText h2 {
  font-size: 3em;
  font-weight: 300 !important;
}
h1 {
  margin: 0;
  padding: 0;
  color: lightcyan;
  font-weight: 300 !important;
}
h2 {
  color: rgb(78, 186, 223);
  font-weight: 300 !important;
}
.story {
  background-color: whitesmoke;
  overflow-y: scroll;
}
.story-card {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
}
.skills {
  background-color: lightgray;
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  text-align: center;
  padding: 10% 20% 0 0 ;
margin: 0;
padding: 0;
height: 100vh;
justify-content: space-between;

}
.skills h2{
        position: absolute;
    left: 0;
    top: 50%;
    -webkit-writing-mode: vertical-lr;
    writing-mode: sideways-lr;
    transform: translate(0 , -50%);
    font-size: 3em;
    padding: 0;
    margin: 0;
}
.skills span:nth-child(odd){
    border: black solid 1px;
    height: 25%;
    /* width: 100px; */
    color: black;
    position: absolute;
    bottom: 20%;
    left: 5%;
    transform: translate(0%, 20%);
}
.skills span:nth-child(1){
    border: black solid 1px;
    height: 25%;
    /* width: 100px; */
    color: black;
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(0%, -20%);
}
.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.skills-section h2 {
      position: absolute;
      top: 50%;
    left: 10%;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -ms-writing-mode: lr-bt;
    transform: translate(0%, -50%);
    font-size: 10wh;
}
.pro {
  width: 100%;
  padding: 0 10%;
}
.lang {
  width: 100%;
  padding: 0 10%;
}
.skills-card {
  width: 100%;
  height: fit-content;
  border: #0056b3 solid 1px;
  border-radius: 10px;
  margin: 10px 0;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  background-color: whitesmoke;
  -moz-box-shadow: inset -1px -1px 0px 1px lightgrey;
  -webkit-box-shadow: inset -1px -1px 0px 1px lightgrey;
  box-shadow: inset -1px -1px 0px 1px lightgrey;
  justify-content: space-between;
}
.skills-card .dot {
  width: 20%;
  background-color: #0056b3;
  margin-right: 10px;
  border-radius: 8px 0 0 8px;
}
.skills-card h3 {
  margin: 0 10px 0 0;
}
.gallery {
  background-color: whitesmoke;
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20% 0;
}
.gallery-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.web-gallery {
  width: 50%;
}
.graphic-gallery {
  width: 50%;
  height: 100%;
  border-right: #007bff 2px solid;
}
.contacts {
  height: 50vh;
  margin-top: 50vh;
  background-color: lightgrey;
}
.continer {
  position: absolute;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
footer p {
  text-align: center;
  color: antiquewhite;
}
